<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.dinnproject.dinn.mapper.FileMapper">
	<select id="selectAllFiles" resultType="com.dinnproject.dinn.message.FileResponse">
		SELECT * FROM filetest
	</select>
	
	<insert id="savFile">
		INSERT INTO filetest(
		orgFileNm,
		savFileNm,
		fileSize,
		uploadPath
		)
		VALUES (
		#{request.orgFileNm},
		#{request.savFileNm},
		#{request.fileSize},
		#{request.uploadPath}
		)
	</insert>
</mapper>