<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.dinnproject.dinn.mapper.FileMapper">
	
	<select id="selectAllFiles" resultType="com.dinnproject.dinn.message.FileResponse">
		SELECT * FROM dinn_file_list
	</select>
	
	<insert id="savFile">
		INSERT INTO dinn_file_list (
		org_file_nm,
		sav_file_nm,
		file_size,
		upload_path,
		del_yn,
		cret_date
		)
		VALUES (
		#{request.orgFileNm},
		#{request.savFileNm},
		#{request.fileSize},
		#{request.uploadPath},
		'N',
		now()
		)
	</insert>
	
	<select id="selectFilePath">
		SELECT upload_path
		  FROM dinn_file_list
		 WHERE file_id = #{id}
	</select>
	
	
	
</mapper>